$primary: #4fb948;
$input-btn-border-width: 2px;
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

$input-border-radius: 0;
$custom-select-border-radius: 0;
$dropdown-inner-border-radius: 0;
$dropdown-border-radius: 0;
$badge-border-radius: 20px;

@import "../../../node_modules/bootstrap/scss/bootstrap";

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: url(assets/img/bg1.png) center bottom fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

.fa,
.fas,
.far {
    cursor: pointer;
}

select.form-control {
    appearance: initial;
    -webkit-appearance: none;
}


.transparent-card {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

.vscroller {
    overflow-y: auto;
}